# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/mvnw
backend/mvnw.cmd
backend/.settings/
backend/.classpath
backend/.project

# IDEs and OS
.vscode/
.idea/
*.swp
*.log
.DS_Store
Thumbs.db
